<div class="block-center mt-xl wd-xl">
  <div class="panel panel-info panel-flat">
    <div class="panel-heading text-center">
      <a href="#" data-ui-sref="app">
        <img src="assets/img/logo.png" alt="Image" class="block-center img-rounded" />
      </a>
    </div>
    <div class="panel-body">
      <p class="text-center pv">RESET PASSWORD</p>
      <p class="text-center pv">Enter new password:</p>
      <form role="form" name="form" novalidate data-ng-submit="resetPassword(form)" class="form-validate mb-lg">
        <input id="password" type="password" name="password" data-ng-model="user.password" data-ng-pattern="/^[^ ]{6,100}$/" required="" class="form-control" placeholder="Enter new password" required data-ng-change="form.password.change()"/>
        <span class="fa fa-lock form-control-feedback text-muted sa-fa"></span>
        <span data-ng-show="(submitted || form.password.$dirty) &amp;&amp; form.password.$error.required" class="text-danger">Password is required</span>
        <span data-ng-show="form.password.$dirty &amp;&amp; form.password.$error.pattern" class="text-danger">Password has to have a min length of 6 characters</span>
        <button type="submit" data-ng-disabled="!form.$valid" class="btn btn-block btn-primary mt-lg">Reset Password</button>
      </form>
    </div>
  </div>
</div>
