<div class="panel panel-default">
  <div class="panel-body">
    <form role="form" data-ng-submit="updateHours()" name="form" novalidate="" class="form-validate mb-lg">
      <div data-ng-repeat="studyDay in studyDays" >
        <div class="day-name">{{studyDay.day | date : 'EEEE'}}<span class="pull-right"><b>{{studyDay.hours}}</b></span></div>
        <slider name="hours" id="index" slider-horizontal data-ng-model="studyDay.hours" style="width:100%; height: 50px" min="slider.min" max="slider.max" step="slider.step" orientation="horizontal" class="bs-slider slider-horizontal "></slider>
      </div>
    </form>
    <div data-ng-show="form.$dirty">
      <button class="pull-right btn btn-sm btn-default button-availability" data-ng-click="cancelHours()">Cancel</button>
      <button class="pull-right btn btn-sm btn-primary button-availability" data-ng-click="saveHours()">Save</button>
    </div>
  </div>
</div>
