<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel()">
         <span aria-hidden="true">&times;</span>
         <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">
      Edit Task - {{task.name}}
  </h4>
</div>
<form role="form" data-ng-submit="editTask()" name="editTaskForm" novalidate="" class="form-validate mb-lg">
<div class="modal-body">
  <fieldset>
    <div class="form-group">
      <label class="col-sm-2 control-label">Course:</label>   
      <div class="form-group col-sm-10">
        {{course.code || course.title}}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-sm-2 control-label">Task Name</label>   
      <div class="form-group col-sm-10">
        <input type="text" name="task_name" placeholder="Enter task name (eg. Assignment 1 or Midterm Test)" autocomplete="off" data-ng-model="task.name" required="" class="form-control" />
        <span data-ng-show="(editTaskForm.$submitted || editTaskForm.task_name.$dirty) &amp;&amp; editTaskForm.task_name.$error.required" class="text-danger">Task name is required</span>
      </div>
    </div>
  </fieldset>
  <fieldset>
      <label class="col-sm-2 control-label">Task Weight</label>     
      <div class="form-group col-sm-10">
        <div class="input-group">
          <input type="number" name="task_weight" min="0" max="100" placeholder="How many percents the task worth?" autocomplete="off" data-ng-model="task.weight" required="" class="form-control" />
          <span class="input-group-addon">%</span>
        </div>
        <div
          <span class="text">* If you don't know the weight, enter 0</span>
        </div>
        <span data-ng-show="(editTaskForm.$submitted || editTaskForm.task_weight.$dirty) &amp;&amp; editTaskForm.task_weight.$error.required" class="text-danger">Task weight is required</span>          <span data-ng-show="(editTaskForm.$submitted || editTaskForm.task_weight.$dirty) &amp;&amp; editTaskForm.task_weight.$error.min" class="text-danger">Task weight should be greater or equal to 0</span>
        <span data-ng-show="(editTaskForm.$submitted || editTaskForm.task_weight.$dirty) &amp;&amp; editTaskForm.task_weight.$error.max" class="text-danger">Task weight should be less or equal to 100</span>
      </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-sm-2 control-label">Task Due Date</label>   
      <div class="form-group col-sm-10">
        <div data-sa-date-input data-ng-model="task.dueDate" data-field-name="'task_dueDate'"></div>
        <span data-ng-show="(editTaskForm.$submitted || editTaskForm.task_dueDate.$dirty) &amp;&amp; editTaskForm.task_dueDate.$error.required" class="text-danger">Task due date is required</span>
      </div>
    </div>
  </fieldset>
</div>
<div class="modal-footer">
  <span data-ng-show="serverError" class="text-danger">{{serverError}}</span>
  <div class="pull-right">
    <button type="submit" data-ng-disabled="editTaskForm.$invalid"class="btn btn-primary mr">Update Task</button>
    <button type="button" data-ng-click="cancel()" class="btn btn-default">Cancel</button>
  </div>
</div>
</form>