 <div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel()">
         <span aria-hidden="true">&times;</span>
         <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">
      Change My Password
  </h4>
</div>
<form role="form" data-ng-submit="changePassword()" name="changePass" novalidate="" class="form-validate mb-lg">
<div class="modal-body">
  <div class="form-group has-feedback" data-ng-class="{ 'has-success': changePass.oldPassword.$valid &amp;&amp; submitted, 'has-error': changePass.oldPassword.$invalid &amp;&amp; submitted }">
    <label class="text-muted">Current password</label>
    <input id="oldPassword" type="password" name="oldPassword" data-ng-model="user.oldPassword" data-ng-pattern="/^[^ ]{6,100}$/" required="" class="form-control" placeholder="Enter current password" required data-ng-change="changePass.oldPassword.change()"/>
    <span class="fa fa-lock form-control-feedback text-muted sa-fa"></span>
    <p class="text-right"><a ui-sref="student.recover" class="text-muted">Forgot your password?</a>
    </p>               
    <span data-ng-show="(submitted || changePass.oldPassword.$dirty) &amp;&amp; changePass.oldPassword.$error.required" class="text-danger">Password is required</span>
    <span data-ng-show="changePass.oldPassword.$dirty &amp;&amp; changePass.oldPassword.$error.pattern" class="text-danger">Password has to have a min length of 6 characters</span>
    <span class="text-danger" data-ng-show="changePass.oldPassword.$error.mongoose">
      {{ errors.oldPassword }}
    </span>
  </div>
  <div class="form-group has-feedback" data-ng-class="{ 'has-success': changePass.newPassword.$valid &amp;&amp; submitted, 'has-error': changePass.newPassword.$invalid &amp;&amp; submitted }">
     <label class="text-muted">New password</label>
     <input id="newPassword" type="password" name="newPassword" data-ng-model="user.newPassword" data-ng-pattern="/^[^ ]{6,100}$/" required="" class="form-control" placeholder="Enter new password" required data-ng-change="changePass.newPassword.change()"/>
     <span class="fa fa-lock form-control-feedback text-muted sa-fa"></span>
     <span data-ng-show="(submitted || changePass.newPassword.$dirty) &amp;&amp; changePass.newPassword.$error.required" class="text-danger">Password is required</span>
     <span data-ng-show="changePass.newPassword.$dirty &amp;&amp; changePass.newPassword.$error.pattern" class="text-danger">Password has to have a min length of 6 characters</span>
     <span class="text-danger" data-ng-show="changePass.newPassword.$error.mongoose">
        {{ errors.newPassword }}
     </span>
  </div>
  <div class="form-group has-feedback" data-ng-class="{ 'has-success': changePass.password_confirm.$valid &amp;&amp; submitted, 'has-error': changePass.password_confirm.$invalid &amp;&amp; submitted }">
    <label class="text-muted">Confirm Password</label>
    <input type="password" name="password_confirm" data-ng-model="user.password_confirm" ui-validate=" '$value==changePass.newPassword.$viewValue' " ui-validate-watch=" 'changePass.newPassword.$viewValue' " class="form-control" placeholder="Confirm password"required/>
    <span class="fa fa-lock form-control-feedback text-muted sa-fa"></span>
    <span data-ng-show="(submitted || changePass.password_confirm.$dirty) &amp;&amp; changePass.password_confirm.$error.required" class="text-danger">Password confirmation is required</span>
    <span data-ng-show="changePass.password_confirm.$dirty &amp;&amp; changePass.password_confirm.$error.validator" class="text-danger">Password doesn't match</span>
    <p class="help-block"> {{ message }} </p>
  </div>
</div>
<div class="modal-footer">
  <span data-ng-show="serverError" class="text-danger">{{serverError}}</span>
  <div class="pull-right">
    <button type="submit" data-ng-disabled="editTaskForm.$invalid" class="btn btn-primary mr">Change Password</button>
    <button type="button" data-ng-click="cancel()" class="btn btn-default">Cancel</button>
  </div>
</div>
</form>