<h3>Student Dashboard</h3>
<div class="row row-centered">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 center-block">
    <div data-ng-if="enrollments.length && !isTotalHoursZero">
      <div id="dashPanel" class="panel panel-info">
        <div class="panel-heading">Tuesday, Nov, 17 <div class="pull-right label label-danger">Today</div></div>
        <div class="panel-body">
          <div>
            <p><a href="" data-ng-click="infoModal(100,false)">BTN710 - Assignment 1</a>
              <span data-ng-click = "infoModal(100,false)" class="fa-stack pull-right">
                <em class="fa fa-circle fa-stack-2x text-info"></em>
                <em class="fa fa-info fa-stack-1x fa-inverse text-white"></em>
              </span>
            </p>
            <div class="ph">
              <progressbar value="100" type="danger" class="m0 progress-xs">50%</progressbar>
            </div>
            <p></p>
          </div>
          <div>
            <div><a href="" data-ng-click="infoModal(false, true)"><s>BTH740 - Assignment 1</s></a>
              <span data-ng-click = "infoModal(false, true)" class="fa-stack pull-right">
                <em class="fa fa-circle fa-stack-2x text-info"></em>
                <em class="fa fa-info fa-stack-1x fa-inverse text-white"></em>
              </span>
              <span class="label label-success">Completed</span>
            </div>
            <p></p>
          </div>
        </div>
      </div>
      <!-- END panel-->
      <!-- START panel-->
      <div id="dashPanel2" class="panel panel-info">
        <div class="panel-heading">Thursday, Nov, 19 </div>
        <div class="panel-body">
          <div>
            <p><a href="" data-ng-click="infoModal(80, false)">BTH730 - Assignment 2</a>
              <span data-ng-click = "infoModal(80, false)" class="fa-stack pull-right">
                <em class="fa fa-circle fa-stack-2x text-info"></em>
                <em class="fa fa-info fa-stack-1x fa-inverse text-white"></em>
              </span>
            </p>
            <div class="ph">
              <progressbar value="80" type="warning" class="m0 progress-xs">50%</progressbar>
            </div>
            <p></p>
          </div>
          <div>
            <p><a href="" data-ng-click="infoModal(20, false)">BTH730 - Assignment 2</a>
              <span data-ng-click = "infoModal(20, false)" class="fa-stack pull-right">
                <em class="fa fa-circle fa-stack-2x text-info"></em>
                <em class="fa fa-info fa-stack-1x fa-inverse text-white"></em>
              </span>
            </p>
            <div class="ph">
              <progressbar value="20" type="success" class="m0 progress-xs">50%</progressbar>
            </div>
            <p></p>
          </div>
          <p></p>
        </div>
      </div>

      <nav mfb-menu position="br" effect="zoomin"
        active-icon="fa fa-plus" resting-icon="fa fa-plus"
        toggling-method="click" ng-click="createTaskFunciton()">
        <!-- <button mfb-button icon="fa fa-plus" label="New Task" ng-click="createTaskFunciton()"></button> -->
      </nav>
      <a data-ui-sref="student.availability"><h4 class="text-center">Availability</h4>
      <canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels">
      </canvas></a>
    </div>
    <div data-ng-if="!enrollments.length">
      <div class="alert alert-info title-alert">
        <h4>In order to use the app, please provide your enrollment information.</h4>
      </div>
      <div data-sa-add-edit-enrollment
           data-after-success-submit-function="refreshPage"></div>
    </div>
    <div data-ng-if="enrollments.length && isTotalHoursZero">
      <div class="alert alert-info title-alert">
        <h4>In order to use the app, please provide your availability information.</br>
          How many hours you spend studying outside classes?</h4>
      </div>
      <div data-sa-availability-hours data-call-on-save="refreshPage"></div>
    </div>
  </div>
</div>
