<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel()">
         <span aria-hidden="true">&times;</span>
         <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">
  	Password Reset
  </h4>
</div>
<form role="form" data-ng-submit="sendEmail()" name="forgotPasswordForm" novalidate="" class="form-validate mb-lg">
  <div class="modal-body">
    <p>Enter the email address you used for registration:</p>
    <input type="email" placeholder="Enter email" autocomplete="off" data-ng-model="email" required="" class="form-control" />
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="submit" data-ng-disabled="!forgotPasswordForm.$valid">Send Email</button>
      <button class="btn btn-default" type="button" data-ng-click="cancel()">Cancel</button>
  </div>
</form>
