.student-manage-task-top-btn {
	display: block;
	width: 100%;
}

.student-manage-task-top-btn-bottom-padding {
	padding-bottom: 10px;
}

.fieldset-info-item {
	padding-bottom: 5px;
}
.percentage-big {
  margin-top: -55px;
	font-size: 1.25em;

}
