<div class="block-center mt-xl wd-xl">
  <div class="panel panel-info panel-flat">
    <div class="panel-heading text-center">
      <a href="#" data-ui-sref="app">
        <img src="assets/img/logo.png" alt="Image" class="block-center img-rounded" />
      </a>
    </div>
    <div class="panel-body">
      <p class="text-center pv">YOUR ACCOUNT WAS SUCCESSFULLY CREATED</p>
      <p class="text-center pv">An activation email was sent to you.
        Please check your email to activate your account.</p>
      <button data-ng-click="sendActivation()" class="btn btn-block btn-primary mt-lg">Re-send Activation Email</button>
    </div>
  </div>
</div>
