<h3>Tasks Due</h3>
<div class="row row-centered">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 center-block">

    <!-- START panel-->
    <div id="dashPanel" class="panel panel-info">
      <div class="panel-heading">Tuesday, Nov, 17 <div class="pull-right label label-danger">Today</div></div>
      <div class="panel-body">
        <div>
          <p>BTH730 Assignment1
            <span class="fa-stack pull-right">
              <em class="fa fa-circle fa-stack-2x text-info"></em>
              <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
            </span>
          </p>
          <div class="ph">
            <progressbar value="80" type="warning" class="m0 progress-xs">50%</progressbar>
          </div>
          <p></p>
        </div>
        <div>
          <div><s>BTH730 Assignment1</s>
            <span class="fa-stack pull-right">
              <em class="fa fa-circle fa-stack-2x text-success"></em>
              <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
            </span>
          </div>

          <p></p>
        </div>
      </div>
    </div>
    <!-- END panel-->
    <!-- START panel-->
    <div id="dashPanel" class="panel panel-info">
      <div class="panel-heading">Thursday, Nov, 19 </div>
      <div class="panel-body">
        <div>
          <p>BTH730 Assignment1
            <span class="fa-stack pull-right">
              <em class="fa fa-circle fa-stack-2x text-info"></em>
              <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
            </span>
          </p>
          <div class="ph">
            <progressbar value="80" type="success" class="m0 progress-xs">50%</progressbar>
          </div>
          <p></p>
        </div>
        <p></p>
      </div>
    </div>
    <!-- END panel-->

    <nav mfb-menu position="br" effect="zoomin" label="hover here"
     active-icon="fa fa-edit" resting-icon="fa fa-expand"
     toggling-method="click" >
     <button mfb-button icon="fa fa-expand" label="menu item" ng-click="testFunciton()"></button>
   </nav>
   <canvas id="bar" class="chart chart-bar"
     chart-data="data" chart-labels="labels">
   </canvas
  </div>
</div>
