<h3>My Courses and Tasks</h3>
<div class="row">
  <div data-ng-repeat="course in courses">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">{{course.code + ' ' + course.section}}</h3>
          <button class="btn btn-default pull-right" data-ng-click="addTaskToCourse(course._id, course.code || course.title)" style="vertical-align:top;">Add Task</button>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Weight</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="task in course.tasks | orderBy:'dueDate':reverse" data-ng-click="editTask(course, task)">
                  <td><a href="" data-ng-click="editTask(course, task)">{{task.name}}</a>&nbsp;&nbsp;
                    <span data-ng-if="task.completed" class="label label-success">
                      <b>Completed</b>
                    </span>
                  </td>
                  <td>{{task.dueDate | date:'MMM dd, yyyy'}}</td>
                  <td>{{task.weight}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="addTaskDialog">
  <form role="form" data-ng-submit="addTask()" name="addTaskForm" novalidate="" class="form-validate mb-lg">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">
           <span aria-hidden="true">&times;</span>
           <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        Add Task
    </h4>
  </div>
  <div class="modal-body">
    <fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label">Course:</label>
        <div class="form-group col-sm-10">
          {{courseName}}
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label">Task Name</label>
        <div class="form-group col-sm-10">
          <input type="text" name="task_name" placeholder="Enter task name (eg. Assignment 1 or Midterm Test)" autocomplete="off" data-ng-model="newTask.name" required="" class="form-control" autofocus/>
          <span data-ng-show="(addTaskForm.$submitted || addTaskForm.task_name.$dirty) &amp;&amp; addTaskForm.task_name.$error.required" class="text-danger">Task name is required</span>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <label class="col-sm-2 control-label">Task Weight</label>
      <div class="form-group col-sm-10">
        <div class="input-group">
          <input type="number" name="task_weight" min="0" max="100" placeholder="How many percents the task worth?" autocomplete="off" data-ng-model="newTask.weight" required="" class="form-control" />
          <span class="input-group-addon">%</span>
        </div>
        <div
          <span class="text">* If you don't know the weight, enter 0</span>
        </div>
        <span data-ng-show="(addTaskForm.$submitted || addTaskForm.task_weight.$dirty) &amp;&amp; addTaskForm.task_weight.$error.required" class="text-danger">Task weight is required</span>
        <span data-ng-show="(addTaskForm.$submitted || addTaskForm.task_weight.$dirty) &amp;&amp; addTaskForm.task_weight.$error.min" class="text-danger">Task weight should be greater or equal to 0</span>
        <span data-ng-show="(addTaskForm.$submitted || addTaskForm.task_weight.$dirty) &amp;&amp; addTaskForm.task_weight.$error.max" class="text-danger">Task weight should be less or equal to 100</span>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label">Task Due Date</label>
        <div class="form-group col-sm-10">
          <div data-sa-date-input data-ng-model="newTask.dueDate" data-field-name="'task_dueDate'"></div>
          <span data-ng-show="(addTaskForm.$submitted || addTaskForm.task_dueDate.$dirty) &amp;&amp; addTaskForm.task_dueDate.$error.required" class="text-danger">Task due date is required</span>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <span data-ng-show="serverError" class="text-danger">{{serverError}}</span>
    <div class="pull-right">
      <button type="submit" data-ng-disabled="addTaskForm.$invalid"class="btn btn-primary mr">Save Task</button>
      <button type="button" data-ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
  </div>
  </form>
</script>
